<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Management Data Table</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <th:block th:replace="/views/layout :: head">
    </th:block>

    <style>
        a:hover {
            color: white;
            text-decoration: none;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            border-radius: 5px;
            color: white;
            padding: 6px 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }

        /*.button1 {*/
        /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
        /*}*/

        .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
    <title>CRUD</title>
</head>
<body>
<header th:replace="/views/layout :: header">
</header>
<form class="form-horizontal" th:action="@{/edit-user}" th:object="${user}" method="post" enctype="multipart/form-data">
    <!--      enctype="multipart/form-data">-->
    <fieldset>

        <!-- Form Name -->
        <div style="margin-top: auto">
            <legend style="margin-top: 40px; text-align: center">ACCOUNT SETTING</legend>
        </div>

        <div class="notify" style="text-align: center; color: #4CAF50">
            <div th:if="${success}">
                <span th:text="${success}"></span>
            </div>
        </div>
        <div class="notify" style="text-align: center; color: red">
            <div th:if="${error}">
                <span th:text="${error}"></span>
            </div>
        </div>

        <input type="hidden" th:field="*{id}"/>
        <!--        <input type="hidden" th:field="*{password}"/>-->
        <input type="hidden" th:field="*{dateCreate}"/>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">User name</label>
            <div class="col-md-4" sec:authorize="hasRole('ADMIN')">
                <input id="product_name" name="username" class="form-control input-md" required="" type="text"
                       VALUE="${user.getUsername()}" th:field="*{username}">
                <span style="color: red" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error</span>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('MOD')">
                <input id="product_name" name="username" class="form-control input-md" required="" type="text"
                       VALUE="${user.getUsername()}" th:field="*{username}" readonly>
                <span style="color: red" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error</span>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('MEMBER')">
                <input id="product_name" name="username" class="form-control input-md" required="" type="text"
                       VALUE="${user.getUsername()}" th:field="*{username}" readonly>
                <span style="color: red" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error</span>
            </div>
            <div class="col-md-4" sec:authorize="hasRole('SUS')">
                <input id="product_name" name="username" class="form-control input-md" required="" type="text"
                       VALUE="${user.getUsername()}" th:field="*{username}" readonly>
                <span style="color: red" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Full name</label>
            <div class="col-md-4">
                <input id="product_name2" name="fullName" class="form-control input-md" required="" type="text"
                       VALUE="${user.getFullName()}" th:field="*{fullName}">
                <span style="color: red" th:if="${#fields.hasErrors('fullName')}"
                      th:errors="*{fullName}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Password</label>
            <div class="col-md-4">
                <input id="product_weight" name="password" class="form-control input-md" required="" type="password"
                       th:value="${user.password}">
                <span style="color: red" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Name Error</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Confirm password</label>
            <div class="col-md-4">
                <input id="available_quantity" name="confirmPassword" class="form-control input-md" required=""
                       type="password"
                       th:value="${user.password}">
                <!--                <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>-->
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Email</label>
            <div class="col-md-4">
                <input id="product_weight2" name="email" class="form-control input-md" required="" type="text"
                       VALUE="${user.getEmail()}" th:field="*{email}">
                <span style="color: red" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Name Error</span>
            </div>
        </div>

        <div class="form-group" sec:authorize="hasRole('ADMIN')">
            <label class="col-md-4 control-label" for="product_name">Role</label>
            <div class="col-md-4">
                <!--        <input id="product_name2" name="nation" class="form-control input-md" required="" type="text" VALUE="${city.nation.name}" th:field="*{nation.name}">-->

                <select name="role" id="product_categorie2" class="form-control input-md" style="color: red">
                    <!--          <option th:each="p : ${nations}"-->
                    <!--                  th:value="${p.id}"-->
                    <!--                  th:text="${p.name}"-->
                    <!--                  th:selected="(${city.nation}) and (${p.id} == *{nation.id})"></option>-->
                    <option th:value="ROLE_MEMBER">MEMBER</option>
                    <option th:value="ROLE_ADMIN">ADMIN</option>
                    <option th:value="ROLE_MOD">MOD</option>
                    <option th:value="ROLE_SUS">SUS</option>
                </select>
            </div>
        </div>

        <div class="form-group" sec:authorize="hasRole('MOD')">
            <label class="col-md-4 control-label" for="product_name">Role</label>
            <div class="col-md-4">
                <input id="product_categorie" name="role" class="form-control input-md" required=""
                       type="text" th:value="${userRole}" readonly>
            </div>
        </div>
        <div class="form-group" sec:authorize="hasRole('MEMBER')">
            <label class="col-md-4 control-label" for="product_name">Role</label>
            <div class="col-md-4">
                <input id="product_categorie" name="role" class="form-control input-md" required=""
                       type="text" th:value="${userRole}" readonly>
            </div>
        </div>
        <div class="form-group" sec:authorize="hasRole('SUS')">
            <label class="col-md-4 control-label" for="product_name">Role</label>
            <div class="col-md-4">
                <input id="product_categorie" name="role" class="form-control input-md" required=""
                       type="text" th:value="${userRole}" readonly>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group" sec:authorize="hasRole('ADMIN')">
            <label class="col-md-4 control-label" for="product_name_fr">Level</label>
            <div class="col-md-4">
                <input id="product_name_fr" name="level" class="form-control input-md" required="" type="text"
                       VALUE="${city.getLevel()}" th:field="*{level}">
                <span style="color: red" th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Name Error</span>
            </div>
        </div>

        <!--    &lt;!&ndash; Select Basic &ndash;&gt;-->
        <!--    <div class="form-group">-->
        <!--      <label class="col-md-4 control-label" for="product_categorie">Population</label>-->
        <!--      <div class="col-md-4">-->
        <!--        <input id="product_categorie" name="population" class="form-control" required="" type="text" VALUE="${city.population}" th:field="*{population}">-->
        <!--          <span style="color: red" th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Name Error</span>-->

        <!--      </div>-->
        <!--    </div>-->

        <!--    &lt;!&ndash; Text input&ndash;&gt;-->
        <!--    <div class="form-group">-->
        <!--      <label class="col-md-4 control-label" for="available_quantity">GDP</label>-->
        <!--      <div class="col-md-4">-->
        <!--        <input id="available_quantity" name="gdp" class="form-control input-md" required="" type="text" VALUE="${city.gdp}" th:field="*{gdp}">-->
        <!--          <span style="color: red" th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}">Name Error</span>-->

        <!--      </div>-->
        <!--    </div>-->

        <!--    &lt;!&ndash; Text input&ndash;&gt;-->
        <!--    <div class="form-group">-->
        <!--      <label class="col-md-4 control-label" for="product_weight">Description</label>-->
        <!--      <div class="col-md-4">-->
        <!--        <textarea rows="4" cols="50" id="product_weight" name="description" class="form-control input-md" required="" type="text" VALUE="${product.getDescription()}" th:field="*{description}">-->
        <!--        </textarea>-->
        <!--      </div>-->
        <!--    </div>-->

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="filebutton">Avatar</label>
            <div class="col-md-4" style="">

       <span th:if="${userAvatar}">
        <img width="100" height="100" th:src="@{'/assert/img/' + ${userAvatar}}" alt="avatar">
      </span>
      <span th:unless="${userAvatar}">
        <img width="100" height="100" th:src="@{'/assert/img/' + *{avatar}}" alt="avatar">
      </span>
                <input id="filebutton" name="avatar" class="input-file" type="file" th:field="*{avatar}">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Action</label>
            <div class="col-md-4">
                <button class="button button">Update</button>
                <a th:href="@{/home}" class="button button" style="background-color: #666666">Home</a>
            </div>
        </div>

    </fieldset>
</form>
<!--<footer th:replace="/layout :: footer"></footer>-->
<!-- FOOTER -->
<footer th:replace="/views/layout :: footer">
</footer>
</body>
</html>