<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en-US">
<head th:replace="/views/layout :: head">
</head>
<body>
<!-- HEADER -->
<header th:replace="/views/layout :: header">

</header>

<!-- MAIN -->

<main>
    <form th:action="@{/create-topic}" th:object="${topic}" method="post">
        <input type="hidden" th:field="*{user}">
        <div class="container">
            <div class="create">
                <div class="create__head">
                    <div class="create__title"><img src="/assert/fonts/icons/main/New_Topic.svg" alt="New topic" th:text="#{create_New_Topic}">
                    </div>
                    <span th:text="#{forum_Guidelines}">Forum Guidelines</span>
                </div>
                <div class="create__section">
                    <label class="create__label" for="title" th:text="#{thread_Title}">Thread Title</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Add here" required >
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="create__section">
                            <label class="create__label" for="category" th:text="#{select_Category}">Select Category</label>
                            <label class="custom-select">
                                <select id="category" th:field="*{category}">
                                    <option th:each="category : ${categories}" th:value="${category.cateId}"
                                            th:text="${category.cateName}">
                                    </option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="create__section create__textarea">
                    <label class="create__label" for="description" th:text="#{description}">Description</label>
                    <div class="create__textarea-head">
                        <span><i class="icon-Quote"></i></span>
                        <span><i class="icon-Bold"></i></span>
                        <span><i class="icon-Italic"></i></span>
                        <div class="create__textarea-separate"></div>
                        <span><i class="icon-Share_Topic"></i></span>
                        <span><i class="icon-BlockQuote"></i></span>
                        <span><i class="icon-Performatted"></i></span>
                        <span><i class="icon-Upload_Files"></i></span>
                        <span class="create__textarea-separate"></span>
                        <span><i class="icon-Bullet_List"></i></span>
                        <span><i class="icon-heading"></i></span>
                        <span><i class="icon-Horizontal_Line"></i></span>
                        <span><i class="icon-Emoticon"></i></span>
                        <span><i class="icon-Settings"></i></span>
                        <span><i class="icon-Color_Picker"></i></span>
                        <div class="create__textarea-btn">
                            <a href="#" class="btn" th:text="#{preview}">Preview</a>
                        </div>
                    </div>
                    <textarea class="form-control" id="description" th:field="*{content}" required>Adding amazing books to your summer reading list can be as simple as signing up for the BuzzFeed Books newsletter! You'll get a review of a new book you might love every Wednesday, plus much more twice a week: great jokes and quizzes, wonderful lists, powerful essays, all the Harry Potter and YA buzz you can handle, and of course, even more book recommendations. So make some space in your beach bag now — because you're going to have a lot to read this summer.</textarea>
                </div>
                <div class="create__section">
                    <label class="create__label" th:text="#{add_Tags}">Add Tags</label>
<!--                    <input type="text" th:field="*{hastags}" class="form-control" id="tags" placeholder="e.g. nature, science">-->
                    <div class="simple-tags"
                         data-simple-tags=""
                         style="margin: 1em 0em;"></div>
                    <input type="hidden" value="" id="data-input" name="inputHastag">
                </div>
                <div th:switch="${checkTopic}" class="create__section">
                    <p th:case="true" style="color: green">New topic created successfully !</p>
                </div>
                <div th:switch="${checkHastag}" class="create__section">
                    <ul th:case="false" style="color: red">
                        <li>Please enter no more than 5 tags. !</li>
                        <li>The tag is too long, the maximum length is 8 characters.</li>
                    </ul>
                </div>
                <div class="create__footer">
                    <a th:href="@{/}" class="create__btn-cansel btn" th:text="#{cancel}">Cancel</a>
                    <input type="submit" class="create__btn-create btn btn--type-02" th:value="#{create_Thread}">
<!--                           value="Create Thread">-->
                </div>
            </div>
        </div>
    </form>
</main>

<!-- FOOTER -->
<footer th:replace="/views/layout :: footer">

</footer>
</body>
</html>