<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class = "topic">
    <div class = "topic__head" >
        <div class = "topic__avatar" > <a href = "#" class = "avatar" > <img src ="/assert/img/C.svg" alt="avatar"></a> </div>
        <div class="topic__caption">
            <div class="topic__name"> <a href="#">test</a></div>
            <div class="topic__date">
                <p>21-05-2021 23:01:13</p>
            </div>
        </div>
    </div>
    <div class="topic__content">
        <div class="topic__text">
            <p>ađâsad</p>
        </div>
        <div class="topic__footer">
            <div class="topic__footer-likes">
                <div><a href="#"><i class="icon-Downvote"></i></a><span>0</span></div>
                <div><a href="#"><i class="icon-Downvote"></i></a><span>0 </span></div>
            </div>
            <div class="topic__footer-share">
                <div data-visible="desktop"><a href="#"><i class="icon-Share_Topic"></i></a><a href="#"><i class="icon-Flag_Topic"></i></a><a href="#"><i class="icon-Bookmark"></i></a></div>
                <button><i class="icon-Reply_Fill"></i></button>
            </div>
        </div>
    </div>
</div>

<div class = "topic">
    <div class = "topic__head" >
        <div class = "topic__avatar" > <a href = "#" class = "avatar" > <img src ="/assert/img/C.svg" alt="avatar"></a> </div>
        <div class="topic__caption">
            <div class="topic__name"> <a href="#">test</a></div>
            <div class="topic__date">
                <p>21-05-2021 23:00:49</p>
            </div>
        </div>
    </div>
    <div class="topic__content">
        <div class="topic__text">
            <p>a</p>
        </div>
        <div class="topic__footer">
            <div class="topic__footer-likes">
                <div><a href="#"><i class="icon-Downvote"></i></a><span>0</span></div>
                <div><a href="#"><i class="icon-Downvote"></i></a><span>0 </span></div>
            </div>
            <div class="topic__footer-share">
                <div data-visible="desktop"><a href="#"><i class="icon-Share_Topic"></i></a><a href="#"><i class="icon-Flag_Topic"></i></a><a href="#"><i class="icon-Bookmark"></i></a></div>
                <button><i class="icon-Reply_Fill"></i></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>